<h4><%= "#{@file}:#{@first_line}" %></h4>

<table class="table table-striped table-condensed" style="font-family: monospace;">
  <tr>
    <td>
      <pre>
<% @output.each do |line| %><%= line[:samples] %>
<% end %>
      </pre>
    </td>
    <td>
      <pre>
<% @output.each do |line| %><%= line[:code] %><% end %>
      </pre>
    </td>
  </tr>
</table>
