<table class="table table-striped table-condensed" style="font-family: monospace;">
  <tr>
    <td>
      <pre>
        <% max = @output.map {|r| r[:samples] }.compact.max; padding = Math.log10(max).ceil + 1; %>
        <% @output.each_with_index do |line, idx| %>
<%= sprintf('% *d', padding, line[:samples]) if line[:samples].present? %>
<% end %></pre>
    </td>
    <td>
      <pre>
        <% @output.each do |line| %>
<%= line[:code] -%>
        <% end %>
      </pre>
    </td>
  </tr>
</table>
