<% content_for :navbar_left do %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profiles <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% @runs.each_with_index do |run, run_id| %>
        <li><a href="/?run_id=<%= run_id %>"><%= run.url %></a>&nbsp;(<b><%= run.duration %>s</b>)</li>
      <% end %>
    </ul>
  </li>
  <li><a href="#" data-toggle="modal" data-target="#options-modal">Options</a></li>
  <li><a href="#" data-toggle="modal" data-target="#gem-breakdown-modal">Gem breakdown</a></li>
<% end %>

<% content_for :head do %>
  <script src="/js/stackprofiler.js"></script>
<% end %>

<div id="foo">
  <div id="a">
    <div id="jstree_demo" data-run-id="<%= @run_id %>"></div>
  </div>
  <div id="b">
    <div id="source-display"></div>
  </div>
</div>

<div id="gem-breakdown-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Breakdown by Gem</h4>
      </div>
      <div class="modal-body">
        <div id="gem-pie" class="center-block epoch category10" style="width: 400px; height: 400px"></div>
        <table id="gem-table" class="table table-striped table-bordered">
          <tr>
            <th>Gem</th>
            <th>Samples</th>
            <th>%</th>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="options-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Stackprofiler Options</h4>
      </div>
      <div class="modal-body">
        <form id="options" class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="remove_gems" class="col-lg-4 control-label">Remove 3rd-party gems</label>
              <div class="col-lg-8">
                <div class="checkbox">
                  <label></label>
                  <input type="checkbox" id="remove_gems" name="remove_gems">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="quick_method_removal" class="col-lg-4 control-label">Remove quick methods</label>
              <div class="col-lg-8">
                <div class="input-group">
                  <input type="text" class="form-control" id="quick_method_removal" name="quick_method_removal" placeholder="0">
                  <div class="input-group-addon">samples</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="rebase_stack" class="col-lg-4 control-label">Rebase stack</label>
              <div class="col-lg-8">
                <label>
                  <input type="checkbox" id="rebase_stack_enabled" name="rebase_stack_enabled" checked="true">
                  Enabled
                </label>
                <input type="text" class="form-control" disabled="true" id="rebase_stack" name="rebase_stack" placeholder="e.g. MyController#index">
                <span class="help-block">Enter name of frame above which frames will be hidden.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="compress_tree" class="col-lg-4 control-label">Compress stack</label>
              <div class="col-lg-8">
                <div class="checkbox">
                  <label></label>
                  <input type="checkbox" id="compress_tree" name="compress_tree">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="invert" class="col-lg-4 control-label">Invert stack</label>
              <div class="col-lg-8">
                <div class="checkbox">
                  <label></label>
                  <input type="checkbox" id="invert" name="invert">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="filtered_frames" class="col-lg-4 control-label">Filter frames</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="filtered_frames" name="filtered_frames" />
                <span class="help-block">Enter regular expressions (e.g. <strong>Ra(ck|ils)</strong>) for frames that should be filtered out.</span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-options">Apply</button>
      </div>
    </div>
  </div>
</div>
