<html>
<head>
  <link rel="stylesheet" href="/vendor/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/vendor/css/splitter.css" />
  <link rel="stylesheet" href="/vendor/jstree/themes/default/style.min.css" />
  <link rel="stylesheet" href="/vendor/css/coderay.css" />
  <link rel="stylesheet" href="/vendor/octicons/octicons.css" />
  <link rel="stylesheet" href="/vendor/tokenfield/bootstrap-tokenfield.min.css" />
  <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.min.css" />
  <link rel="stylesheet" href="/vendor/epoch/epoch.min.css" />
  <link rel="stylesheet" href="/css/stackprofiler.css" />
  <script src="/vendor/js/jquery.min.js"></script>
  <script src="/vendor/js/bootstrap.min.js"></script>
  <script src="/vendor/jstree/jstree.js"></script>
  <script src="/vendor/js/splitter.js"></script>
  <script src="/vendor/tokenfield/bootstrap-tokenfield.min.js"></script>
  <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="/vendor/d3/d3.min.js"></script>
  <script src="/vendor/epoch/epoch.min.js"></script>
  <script src="/vendor/lodash/lodash.min.js"></script>
  <script src="/vendor/ace/ace.js"></script>
  <%= yield_content :head %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    </button>
    <a class="navbar-brand" href="#">Stackprofiler</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <%= yield_content :navbar_left %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= yield_content :navbar_right %>
      <li><a id="github-link" href="https://github.com/glassechidna/stackprofiler"><span class="mega-octicon octicon-mark-github"></span></a></li>
    </ul>
  </div>
</div>

<div class="container fill">
  <div class="row">
    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
